@import "tailwindcss";

:root {
  --color-primary: #3e5c76;
  --color-primary-dark: #0d1321;
  --color-background: #f0ebd8;
  --color-accent: #748cab;
  --color-accent-dark: #1d2d44;
}

body {
  background-color: var(--color-background);
}

button {
  cursor: pointer;
}

.header {
  @apply flex gap-10 items-center mb-4;
}

.main-btn {
  @apply text-white font-semibold py-1 px-2 rounded;
  background-color: var(--color-primary);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-primary-dark);
  }
  &:active {
    background-color: var(--color-primary-dark);
  }
}

.task-actions {
  @apply flex gap-2 mr-8;
}

.delete-modal {
  @apply fixed inset-0 flex h-fit items-center justify-center z-50;
}

.delete-btn {
  @apply font-semibold py-1 px-2 rounded;
  background-color: white;
  color: var(--color-accent);
  border: var(--color-accent) 2px solid;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-accent);
    color: white;
  }
  &:active {
    background-color: var(--color-accent-dark);
    color: white;
  }
}

.clear-btn {
  @apply font-semibold text-sm;
  color: var(--color-primary);
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-primary-dark);
    text-decoration: underline;
  }
  &:disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: none;
  }
}

.main-title {
  @apply font-sans font-bold text-3xl mb-4 text-black;
}

input[type="text"] {
  @apply block w-full p-2;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-primary-dark);
}

@media (max-width: 640px) {
  body {
    padding: 0 4px;
  }
  .header {
    @apply flex-col gap-1 items-center mb-4;
  }
  .main-title {
    @apply text-2xl mb-2;
  }

  .task-actions {
    @apply flex-col gap-2 items-end mr-0.5;
  }
  .main-btn,
  .delete-btn {
    @apply w-full py-2 px-4;
  }
  .clear-btn {
    @apply w-full mb-4 underline;
  }
  .delete-modal {
    @apply top-10 left-0 right-0 mx-auto w-11/12 max-w-md;
  }
}
